@import './base.css';

.light-theme {
  --bg-color-1: #f6fbf4;
  --bg-color-2: #80b2a2;
  --bg-color-3: #4b8673;
  --detail-color-1: #f5df99;
  --detail-color-2: #e4ce85;
  --text-color-1: black;
  --contrast-color-1: black;
}
